
*
{
	font-family: 'Noto Kufi Arabic';
}

.hcenter {
	display: flex;
	flex-direction: column;
	float: none;
	width: 100%; }  

.hcenter p {
	margin-top: 2px;
	color: #00f3ff;
	text-align: center;}
 
.vcenter {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
    float: none; }

.bk-orange { 
	background: #648CA4; }

.menuTitle {
	color: #fff;
	text-shadow: 1px 1px #000; }

.drinkItem {
	text-align: left;
	padding-bottom: 15px;
	color: rgb(36, 28, 28);
}

.drinkPrice {
	text-align: left;
	color: #00f3ff;
	font-weight: 400;
	font-family: 'Noto Kufi Arabic';
}

.drinkInfo {
	color: #fff; }
 
ul {
	list-style-type: none;
	text-align: left; 
	padding: 0; }

.menuItem {
	padding: 20px 0;  }
